---
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
import SiteHead from "../components/SiteHead.astro";
---

<html lang="en">
  <head>
    <SiteHead
      title="The Serious Sandwich"
      description="Seriously Good Sandwiches made fresh daily."
    />
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-567P2C87"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->
    <Header />
    <div id="body-wrapper">
      <section class="header-bg"></section>
    </div>
    <Footer />
  </body>
</html>
