---
import Header from "../components/header.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="/styles.css" />
		<title>Astro</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<Header />
		<section id="body-wrapper">
			<section id="banner">
				<div class="content">
					<div class="blurb">
						<img src="images/profile.jpg" alt="" />
						<div class="inner">
							<h1>Hi, I'm Liam 👋</h1>
							<p>
								UX/UI Designer & Front End Support with 4 years of
								experience. Currently working for Motorcentral
								Technologies — a leading tech company based in
								Christchurch, New Zealand.
							</p>
							<p>
								Designed and refined multiple applications,
								websites, and marketing materials.
							</p>
						</div>
					</div>
				</div>
			</section>
			<section id="projects">
				<div class="content">
					<h2>Projects</h2>
					<section id="project-list">
						<a
							class="project-card acme"
							href="/acme"
							aria-label="Open Avanti Finance App"
						>
							<div class="text">
								<h3>Acme Cars Website</h3>
								<p>
									Elevating the standards for car dealer
									websites in New Zealand with a modern
									website template and cutting-edge helpful AI
									features
								</p>
								<div class="skills">
									<span>UX/UI Design</span>
									<span>Boilerplate Template</span>
								</div>
							</div>
							<img
								src="/images/acme5/acme5.webp"
								alt="Acme Cars website preview"
							/>
						</a>

						<a
							class="project-card car-dealer hover-yellow"
							href="https://shoreprestige.co.nz/"
							aria-label="Open Shore Prestige Website"
						>
							<div class="text">
								<h3>Shore Prestige</h3>
								<p>
									An automotive website showcasing the latest
									models and special offers from Shore Prestige,
									a popular used car dealership in Napier, New
									Zealand. Designed and built
									based on the latest Acme template.
								</p>
								<div class="skills">
									<span>Website Design</span>
									<span>Front End Development</span>
									<span>Visual Studio</span>
								</div>
							</div>
							<img
								src="/images/car-dealer/shore-prestige.webp"
								alt="Shore Prestige website preview"
							/>
						</a>
						
						<a
							class="project-card avanti hover-green"
							href="https://www.avantifinance.app/"
							aria-label="Open Avanti Finance App"
						>
							<div class="text">
								<h3>Avanti Finance App</h3>
								<p>
									A convenient mobile and web app for
									customers to view where they’re at with
									their loan repayments.
								</p>
								<div class="skills">
									<span>UX/UI Design</span>
									<span>Mobile App Design</span>
								</div>
							</div>
							<img
								src="/images/avanti-app/avantiapp.webp"
								alt="Avanti Finance App preview"
							/>
						</a>
						


						<a
							class="project-card simply-stunning hover-orange"
							href="https://simplystunningstudiostekapo.nz/"
							aria-label="Open Simply Stunning Studios Website"
						>
							<div class="text">
								<h3>Simply Stunning Studios Website</h3>
								<p>
									An accommodation booking website for a
									luxury B&B based in Lake Tekapo, New
									Zealand. Custom designed and developed with
									WordPress and integrated with a booking
									plugin for smooth date selection and online
									payments.
								</p>
								<div class="skills">
									<span>Website Design</span>
									<span>Front End Development</span>
									<span>Visual Studio</span>
								</div>
							</div>
							<img
								src="/images/simply-stunning/simplystunning.webp"
								alt="Simply Stunning Studios website preview"
							/>
						</a>




					</section>
				</div>
			</section>
		</section>
	</body>
</html>