---
import Header from "../components/header.astro";
import "@splidejs/splide/css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="/styles.css" />
    <title>Astro</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=League+Gothic&family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <Header />
    <div id="body-wrapper">
      <div class="hero-section">
        <div class="inner">
          <a href="/"><img src="/images/logo.webp" alt="" /></a>
          <span
            class="order-button"
            data-glf-cuid="188ddbcd-9a26-49d6-b778-3d6940d80a13"
            data-glf-ruid="60be44a5-3532-41ae-a3d1-ae77c743ef70"
            >★ &nbsp; Order now &nbsp; ★</span
          >
        </div>
      </div>
      <div id="intro-section">
        <div class="content">
          <div class="inner">
            <div class="text">
              <h1><span>We Make</span><br />Serious Sandwiches</h1>
              <p>
                At The Serious Sandwich, we believe that a sandwich is more than
                just food – it's an experience. Our passion for crafting the
                perfect sandwich drives us to use only the freshest ingredients
                and boldest flavors. Whether you're craving a classic deli-style
                sandwich or an adventurous creation, we've got something to
                satisfy every palate.
              </p>
            </div>

            <div id="food-slider" class="splide">
              <div class="splide__track">
                <ul class="splide__list">
                  <li class="splide__slide">
                    <img src="/images/sandwiches/chicken.jpeg" alt="sandwich" />
                    <span>Chicken and Roasted Capsicum</span>
                  </li>
                  <li class="splide__slide">
                    <img src="/images/sandwiches/blt.jpeg" alt="sandwich" />
                    <span>BLT</span>
                  </li>
                  <li class="splide__slide">
                    <img src="/images/sandwiches/ham.jpeg" alt="sandwich" />
                    <span>Classic Ham and Cheese</span>
                  </li>
                  <li class="splide__slide">
                    <img src="/images/sandwiches/peanut.jpeg" alt="sandwich" />
                    <span>Poached Chicken and Peanut Slaw</span>
                  </li>
                  <li class="splide__slide">
                    <img
                      src="/images/sandwiches/halloumi.jpeg"
                      alt="sandwich"
                    />
                    <span>Halloumi Sambo</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="coffee-section">
        <div class="content">
          <div class="text">
            <h2>Make it a combo</h2>
            <p>
              Pair your favorite sandwich with a freshly brewed coffee for the
              perfect meal.
            </p>
            <span
              class="order-button"
              data-glf-cuid="188ddbcd-9a26-49d6-b778-3d6940d80a13"
              data-glf-ruid="60be44a5-3532-41ae-a3d1-ae77c743ef70"
              >★ &nbsp; Order now &nbsp; ★</span
            >

          </div>
          <div class="img">
            
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<script>
  import Splide from "@splidejs/splide";

  new Splide("#food-slider", {
    type: "loop",
    gap: "1rem",
    arrows: true,
    pagination: true,
    autoplay: false,

    // ⭐️ RESPONSIVE SETTINGS
    perPage: 3, // Desktop default

    breakpoints: {
      1024: { perPage: 2 }, // Tablets
      640: { perPage: 1 }, // Mobile
    },
  }).mount();
</script>
