---
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
import SiteHead from "../components/SiteHead.astro";
---

<html lang="en">
  <head>
    <SiteHead
      title="The Serious Sandwich"
      description="Seriously Good Sandwiches made fresh daily."
    />
  </head>
  <body>
    <Header />
    <div id="body-wrapper">
      <section class="header-bg"></section>
      <div class="content">
        <h1>Privacy</h1>
      </div>
      <Footer />
    </div>
  </body>
</html>
