<footer>
  <div class="content">
    <div class="footer-content">
      <div class="links">
        <a href="/about/">About</a>
        <a href="/contact/">Contact</a>
      </div>
      <div class="social">
        <a
          href="https://www.instagram.com/theserioussandwich/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img src="/images/icons/instagram.svg" alt="Instagram" />
        </a>
        <a
          href="https://www.facebook.com/theserioussandwich"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img src="/images/icons/facebook.svg" alt="Facebook" />
        </a>
      </div>
      <div class="terms">
        <a href="/terms/">Terms of Service</a>
        <span>|</span>
        <a href="/privacy/">Privacy Policy</a>
      </div>
    </div>
    <span class="copyright">©2025 The Serious Sandwich. All rights reserved.</span>
  </div>
</footer>
