---
const siteTitle = "The Serious Sandwich";
---

<nav class="desktop-navbar">
  <div class="desktop-navbar-container">
    <div class="nav-links">
      <div class="social">
        <a
          href="https://www.instagram.com/theserious.sandwich/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img src="/images/icons/instagram.svg" alt="Instagram" />
        </a>
        <a
          href="https://www.facebook.com/theserioussandwich"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img src="/images/icons/facebook.svg" alt="Facebook" />
        </a>
      </div>
      <ul>
        <li><a href="/about/">About</a></li>
        <li><a href="/contact/">Contact</a></li>
      </ul>
    </div>
    <a href="/"><img class="logo" src="/images/logo.webp" alt="" /></a>
    <span
      class="order-button quaternary small"
      data-glf-cuid="188ddbcd-9a26-49d6-b778-3d6940d80a13"
      data-glf-ruid="60be44a5-3532-41ae-a3d1-ae77c743ef70"
      data-track-click
      data-track-name="see-menu-order">★ &nbsp; See menu & order &nbsp; ★</span
    >
  </div>
</nav>

<nav class="mobile-navbar">
  <input type="checkbox" id="menu-toggle" class="menu-toggle" />
  <div class="mobile-navbar-container">
    <label for="menu-toggle" class="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </label>
    <!-- <span class="title">The Serious Sandwich</span> -->
    <span
      class="order-button tertiary small"
      data-glf-cuid="188ddbcd-9a26-49d6-b778-3d6940d80a13"
      data-glf-ruid="60be44a5-3532-41ae-a3d1-ae77c743ef70"
      data-track-click
      data-track-name="see-menu-order">See menu & order</span
    >
  </div>
  <div class="offcanvas-menu">
    <div class="menu-items">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="/contact/">Contact</a></li>
      </ul>
      <div class="social">
        <a
          href="https://www.instagram.com/theserious.sandwich/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img src="/images/icons/instagram.svg" alt="Instagram" />
        </a>
        <a
          href="https://www.facebook.com/theserioussandwich"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img src="/images/icons/facebook.svg" alt="Facebook" />
        </a>
      </div>
    </div>
  </div>
  <label for="menu-toggle" class="offcanvas-backdrop"></label>
</nav>