---
const siteTitle = "The Serious Sandwich";
---

<img src="/images/serious-logo.jpg" alt="" style="width: 300px;" />
<h1>The Serious Sandwich Website</h1>
<h2>Coming Soon...</h2>
<p>Keep your eyes peeled for updates!</p>