---
const siteTitle = "The Serious Sandwich";
---
		<nav class="desktop-navbar">
			<div class="desktop-navbar-container">
				<a href="/"><img src="assets/" alt=""></a>
				<div class="nav-links">
					<ul>
						<li><a href="/about/">About</a></li>
						<li><a href="/contact/">Contact</a></li>
					</ul>
				</div>
			</div>
		</nav>
		
		<nav class="mobile-navbar">
			<input type="checkbox" id="menu-toggle" class="menu-toggle" />
			<div class="mobile-navbar-container">
				<a href="/">The Serious Sandwich</a>
				<label for="menu-toggle" class="hamburger">
					<span></span>
					<span></span>
					<span></span>
				</label>
			</div>
			<div class="offcanvas-menu">
				<div class="menu-items">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/about/">About</a></li>
						<li><a href="/contact/">Contact</a></li>
					</ul>
				</div>
			</div>
			<label for="menu-toggle" class="offcanvas-backdrop"></label>
		</nav>