.intro-section {
  padding: 50px 0;

  p {
    max-width: 700px;
  }


  .images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 40px 0;
    transition: all 0.3s ease;
    max-width: 1000px;

    img {
      border-radius: 24px;
      width: 100%;
      transform: rotate(-4deg);
      border: 8px solid var(--white);


      &:nth-child(2) {
        margin-top: 70px;
        transform: scale(0.9)rotate(4deg);
        position: relative;
        left: -50px;
        z-index: -1;
      }
    }
  }

  .order-button {
    margin-top: 30px;
  }
}

@media (min-width: 800px) {
  .intro-section {
    padding: 100px 0;

    .images {
      margin: 60px 0 32px 0;

      img {
        border: 12px solid var(--white);

        &:nth-child(2) {
          margin-top: 80px;

          left: -75px;
        }
      }
    }
  }
}