html {
  scroll-behavior: smooth;
}

:root {
  --black: #000000;
  --white: #ffffff;
  --off-white: rgba(255, 255, 255, 0.7);
  --border-color: #cbcbcb;
  --red: #9A3437;
  --beige: #F0EEE9;
}

// ====================
// Base Styles
// ====================
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: Zalando Sans;
}

#body-wrapper {
  margin-top: 66px;
  position: relative;
  z-index: 1;
}

.social {
  display: flex;
  gap: 20px;
  justify-content: center;

  a {
    display: block;
    width: 32px;
    height: 32px;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.7;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.content {
  max-width: 1200px;
  margin: auto;
  width: 100%;
  padding: 0 20px;

  &.light-widget {
    padding: 0 12px;
  }
}

h1 {
  font-family: "League Gothic";
  font-weight: 500;
  text-transform: uppercase;
  font-size: 56px;
  line-height: 100%;
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 20px;
  font-family: "League Gothic";
  font-weight: 500;
  text-transform: uppercase;
  font-size: 42px;

}

h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
}

p {
  font-size: 16px;
  font-style: normal;
  line-height: 20px;
  margin-bottom: 12px;
}

.order-button {
  display: inline-flex;
  border-radius: 200px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  min-width: 118px;
  align-items: center;
  gap: 12px;
  position: relative;
  top: -2px;

  &.primary {
    background-color: var(--red);
    color: var(--white);
    box-shadow: 0 6px 0 var(--black);
    border: solid var(--black);

  }

  &.secondary {
    background-color: var(--beige);
    color: var(--black);
    border: solid var(--black);
    box-shadow: 0 6px 0 var(--black);
  }

  &.tertiary {
    background-color: var(--black);
    color: var(--white);
    box-shadow: 0 6px 0 var(--white);
    border: solid var(--white);
  }

  &.quaternary {
    background-color: var(--red);
    color: var(--white);
    box-shadow: 0 6px 0 var(--white);
    border: solid var(--white);
  }

  &.large {
    padding: 16px 24px;
    font-size: 16px;
    border-width: 2px;

    &:hover {
      top: 4px;
      box-shadow: none;
    }
  }

  &.medium {
    padding: 8px 16px;
    font-size: 16px;
    border-width: 2px;

    &:hover {
      position: relative;
      top: 4px;
      box-shadow: none;
    }
  }

  &.small {
    padding: 5px 12px;
    font-size: 12px;
    border-width: 1px;

    &:hover {
      position: relative;
      top: 4px;
      box-shadow: none;
    }
  }

  &.small-no-shadow {
    padding: 5px 12px;
    font-size: 12px;
    border-width: 1px;
    box-shadow: none;
  }
}

.order-button-medium {
  display: inline-block;
  background-color: var(--red);
  color: var(--white);
  padding: 8px 16px;
  border-radius: 200px;
  border: 2px solid #ffffff;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 600;
  font-family: "Zalando Sans";
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 6px 0 rgba(255, 255, 255, 1);
}

.order-button-small {
  display: inline-block;
  background-color: var(--black);
  color: var(--white);
  padding: 5px 12px;
  border-radius: 200px;
  border: 2px solid var(--border-color);
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 600;
  font-family: "Zalando Sans";
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  min-width: 118px;
}

// Desktop styles
@media (min-width: 800px) {
  #body-wrapper {
    margin-top: -164px;
  }

  h1 {
    font-size: 64px;
  }

  h2 {
    font-size: 48px;
  }
}