// ====================
// Header & Navigation
// ====================

.desktop-navbar {
  width: 100%;
  display: none;
  position: relative;
  z-index: 100;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);

  .desktop-navbar-container {
    margin: auto;
    display: flex;
    align-items: center;
    padding: 32px 20px;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    gap: 32px;

    .logo {
      height: 101px;
      display: block;
    }

    .social {
      margin-right: 12px;

      a {
        width: 24px;
        height: 24px;
      }
    }

    .nav-links {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 24px;
      width: 179.3px;

      ul {
        list-style: none;
        display: flex;
        gap: 32px;

        li {
          display: flex;
          align-items: center;

          a {
            text-decoration: none;
            color: var(--white);
            padding: 8px 0;
            border-radius: 4px;
            transition: color 0.3s ease;
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            font-weight: 600;
            font-family: "Zalando Sans";
            transition: opacity 0.3s ease;

            &:hover {
              opacity: 0.7;
            }
          }
        }
      }
    }
  }
}

.mobile-navbar {
  z-index: 1000;
  width: 100vw;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  background-color: var(--black);

  .title {
    text-decoration: none;
    color: var(--white);
    border-radius: 4px;
    transition: color 0.3s ease;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 600;
    font-family: "Zalando Sans";
  }

  .mobile-navbar-container {
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    gap: 32px;
  }

  .mobile-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }


  .menu-toggle {
    display: none;
  }

  .hamburger {
    position: relative;
    top: -1px;
    width: 24px;
    height: 24px;
    min-width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1100;

    span {
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background: var(--white);
      border-radius: 2px;
      transition: 0.3s;

      &:nth-child(1) {
        top: 4px;
      }

      &:nth-child(2) {
        top: 12px;
      }

      &:nth-child(3) {
        top: 20px;
      }
    }
  }

  // Menu toggle states
  .menu-toggle:checked~.mobile-navbar-container .hamburger span {
    &:nth-child(1) {
      top: 12px;
      transform: rotate(45deg);
    }

    &:nth-child(2) {
      opacity: 0;
    }

    &:nth-child(3) {
      top: 12px;
      transform: rotate(-45deg);
    }
  }
}

.offcanvas-menu {
  position: fixed;
  top: 0;
  left: -80vw;
  width: 80vw;
  max-width: 340px;
  height: 100vh;
  background: #141414;
  transition: left 0.3s;
  z-index: 1050;

  .menu-items {
    margin: 80px 20px 36px 20px;

    .social {
      justify-content: flex-start;
      margin-left: 32px;
    }

    ul {
      display: flex;
      gap: 4px;
      flex-direction: column;
      align-items: flex-start;
      list-style: none;
      margin-bottom: 32px;

      li {
        width: 100%;
        text-decoration: none;
        display: block;

        a {
          display: block;
          color: var(--white);
          font-size: 20px;
          font-weight: 500;
          text-decoration: none;
          padding: 16px 32px;
        }
      }
    }
  }
}

.offcanvas-backdrop {
  display: none;
  position: fixed;
  z-index: 1049;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.32);
  transition: opacity 0.3s;
  cursor: pointer;
}

// Menu toggle global states
.menu-toggle:checked~ {
  .offcanvas-backdrop {
    display: block;
    opacity: 1;
    pointer-events: auto;
  }

  .offcanvas-menu {
    left: 0;
  }
}

// ====================
// Footer
// ====================

footer {
  background-color: var(--red);
  color: var(--white);
  padding: 50px 0;
  text-align: center;
  position: relative;

  .content {
    z-index: 2;
    position: relative;
  }

  .google-map {
    border-radius: 12px;
    margin-bottom: 80px;

    iframe {
      border-radius: 12px;
    }
  }

  .copyright, .footer-hours {
    display: block;
    color: var(--text-color-alt);
    font-size: 11px;
    font-weight: 300;
    margin-top: 24px;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .links {
      display: flex;
      gap: 32px;
      justify-content: center;
      width: 100%;

      a {
        color: var(--white);
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        font-weight: 600;
        font-family: "Zalando Sans";
        transition: color 0.3s ease;

        &:hover {
          color: var(--hover-color);
        }
      }
    }

    .terms {
      display: flex;
      gap: 12px;
      justify-content: center;
      align-items: center;
      width: 100%;

      a {
        color: var(--text-color-alt);
        font-size: 11px;
        font-weight: 400;
        transition: color 0.3s ease;

        &:hover {
          color: var(--text-color);
        }
      }

      span {
        color: var(--text-color-alt);
        font-size: 11px;
      }
    }
  }
}


// Desktop styles
@media (min-width: 800px) {

  .header-bg {
    display: block;
    width: 100%;
    height: 164px;
    z-index: -1;
    background-color: #000;
  }

  .mobile-navbar {
    display: none;
  }

  .desktop-navbar {
    display: flex;
  }


  footer {

    .google-map {
      margin-bottom: 80px;
    }

    .footer-content {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 60px;

      .links {
        justify-content: flex-start;
      }

      .terms {
        justify-content: flex-end;
      }
    }
  }
}