html {
  scroll-behavior: smooth;
}

:root {
  --background-color: #000000;
  --hover-color: #969696;
  --hover-color-alt: #202020;
  --accent-color: #ffffff;
  --text-color: #ffffff;
  --text-color-alt: rgba(255, 255, 255, 0.7);
  --border-color: #3a3a3a;
  --border-color-alt: #555555;
  --primary-red: #9A3437;
}

// ====================
// Base Styles
// ====================
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: Zalando Sans;
  background-color: var(--background-color);
  color: var(--text-color);
}

#body-wrapper {
  margin-top: 69px;
}

.content {
  padding: 0 20px;
  max-width: 1200px;
  margin: auto;
  width: 100%;
}

h2,
h3 {
  margin-bottom: 20px;
  font-family: "League Gothic";
  font-weight: 500;
  text-transform: uppercase;
}

p {
  color: var(--text-color-alt);
  font-family: "Zalando Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 12px;
}

.order-button {
  background-color: var(--primary-red);
  color: var(--text-color);
  padding: 16px 24px;
  border-radius: 200px;
  border: 2px solid #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 600;
  font-family: "Zalando Sans";
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 6px 0 rgba(255, 255, 255, 1);
}

.order-button-medium {
  background-color: var(--primary-red);
  color: var(--text-color);
  padding: 8px 16px;
  border-radius: 200px;
  border: 2px solid #ffffff;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 600;
  font-family: "Zalando Sans";
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 6px 0 rgba(255, 255, 255, 1);
}

.order-button-small {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 5px 12px;
  border-radius: 200px;
  border: 2px solid var(--border-color-alt);
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 600;
  font-family: "Zalando Sans";
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  min-width: 118px;
}

// ====================
// Header & Navigation
// ====================

.desktop-navbar {
  width: 100%;
  display: none;

  .desktop-navbar-container {
    margin: auto;
    display: flex;
    align-items: center;
    padding: 32px 20px;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    gap: 32px;

    img {
      height: 100px;
      display: block;
    }

    .nav-links {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 24px;
      width: 179.3px;

      ul {
        list-style: none;
        display: flex;
        gap: 32px;

        li {
          display: flex;
          align-items: center;

          a {
            text-decoration: none;
            color: var(--text-color);
            padding: 8px 0;
            border-radius: 4px;
            transition: color 0.3s ease;
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            font-weight: 600;
            font-family: "Zalando Sans";

            &:hover {
              color: var(--hover-color);
            }
          }
        }
      }
    }
  }
}

.mobile-navbar {
  z-index: 1000;
  width: 100vw;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  background-color: var(--background-color);

  .title {
    text-decoration: none;
    color: var(--text-color);
    border-radius: 4px;
    transition: color 0.3s ease;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 600;
    font-family: "Zalando Sans";
  }

  .mobile-navbar-container {
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    gap: 32px;
  }

  .mobile-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }


  .menu-toggle {
    display: none;
  }

  .hamburger {
    position: relative;
    top: -1px;
    width: 24px;
    height: 24px;
    min-width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1100;

    span {
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background: var(--text-color);
      border-radius: 2px;
      transition: 0.3s;

      &:nth-child(1) {
        top: 4px;
      }

      &:nth-child(2) {
        top: 12px;
      }

      &:nth-child(3) {
        top: 20px;
      }
    }
  }

  // Menu toggle states
  .menu-toggle:checked~.mobile-navbar-container .hamburger span {
    &:nth-child(1) {
      top: 12px;
      transform: rotate(45deg);
    }

    &:nth-child(2) {
      opacity: 0;
    }

    &:nth-child(3) {
      top: 12px;
      transform: rotate(-45deg);
    }
  }
}

.offcanvas-menu {
  position: fixed;
  top: 0;
  right: -80vw;
  width: 80vw;
  max-width: 340px;
  height: 100vh;
  background: var(--background-color);
  transition: right 0.3s;
  z-index: 1050;

  .menu-items {
    margin: 80px 20px 36px 20px;

    ul {
      display: flex;
      gap: 4px;
      flex-direction: column;
      align-items: flex-start;
      list-style: none;

      li {
        width: 100%;
        text-decoration: none;
        padding: 18px;

        a {
          color: var(--text-color);
          font-size: 20px;
          font-weight: 500;
          text-decoration: none;
          padding: 18px;
        }
      }
    }
  }
}

.offcanvas-backdrop {
  display: none;
  position: fixed;
  z-index: 1049;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.32);
  transition: opacity 0.3s;
  cursor: pointer;
}

// Menu toggle global states
.menu-toggle:checked~ {
  .offcanvas-backdrop {
    display: block;
    opacity: 1;
    pointer-events: auto;
  }

  .offcanvas-menu {
    right: 0;
  }
}

// ====================
// Hero Section
// ====================

.hero-section {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: url("/images/intro-img.jpeg");
  background-size: cover;
  background-position: center;
  position: relative;
  height: 400px;
  overflow: hidden;
  margin: auto;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
  }

  .inner {
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: space-between;
    align-items: center;

  }

  img {
    height: 200px;
    display: block;
  }
}

// ====================
// Intro Section
// ====================

#intro-section {
  padding: 60px 0;
  text-align: center;
  background-color: var(--background-color);

  h1 {
    font-size: 56px;
    margin-bottom: 20px;
    line-height: 58px;
    font-family: "League Gothic";
    font-weight: 500;
    text-transform: uppercase;


    span {
      color: var(--text-color-alt);
    }

  }

  .inner {
    display: flex;
    gap: 32px;
    flex-direction: column;
    align-items: center;
  }

    #food-slider {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }

    #food-slider img {
    width: 100%;
    height: auto;
    object-fit: contain;   /* Ensure entire image is visible */
    object-position: center;
    object-fit: cover;
  }
}


// Desktop styles
@media (min-width: 800px) {
  #body-wrapper {
    margin-top: 0;
  }

  .hero-section {
    .inner {
      display: none;
    }
  }

  // Navigation
  .mobile-navbar {
    display: none;
  }

  .desktop-navbar {
    display: flex;
  }

  // Hero Section
  .hero-section {
    height: 400px;
  }
}